@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.footer-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
.page-ctrl {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;

    padding: 0.6rem 1.2rem;

    color: white;
    background-color: #e63946;

    border: none;
    border-radius: 0.4rem;

    cursor: pointer;

    transition: 
        background-color 0.2s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 3rem;
}

.page-ctrl:hover {
    background-color: #d62839;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.page-ctrl:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}