@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.8rem;
    width:100dvw;

}
h1{
    color:#e63946;;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    padding-inline-start: 3rem;
    cursor:default;

}
a{
   color:#e63946;;
    font-family: "Roboto", sans-serif;
    font-size:1.3rem;
    text-decoration: none;
    margin-inline:1rem;
    transition: color 0.2s ease;

}
a:hover{
    color:rgba(230, 57, 70,0.4);
}